/*
* @Author: ThinkPad
* @Date:   2017-07-07 16:38:23
* @Last Modified by:   ThinkPad
* @Last Modified time: 2017-07-07 16:50:42
*/

.nav{
    background: #eee;
    height: 30px;
    line-height: 30px;
}
/* 用户部分 */
.nav .user{
    float: left;
}
.nav .user .link{
    margin-right: 5px;
}
.nav .user.login{
    display: none;
}

/* 导航链接部分 */
.nav .nav-list{
    float: right;
}
.nav .nav-list .nav-item{
    display: inline-block;
    margin-left: 5px;
}
