/*
* @Author: ThinkPad
* @Date:   2017-07-07 17:07:14
* @Last Modified by:   ThinkPad
* @Last Modified time: 2017-07-07 21:13:15
*/
.footer{
    padding-bottom: 10px;
}
.footer .links{
    text-align: center;
    color: #666;
    line-height: 30px;
}
.footer .links .link{
    padding: 0 10px
}

.footer .copyright{
    text-align: center;
    color: #666;
    line-height: 30px;
}