/*
* @Author: ThinkPad
* @Date:   2017-07-07 14:52:13
* @Last Modified by:   ThinkPad
* @Last Modified time: 2017-07-07 15:10:12
*/

.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
}